{% extends "base.html" %}
{% block title %} Blogs {% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="rol-3"></div>
        {% include 'partials/_categories.html' %}
        </div>
        <div class="col-9">
            <h1>All Blogs</h1>
            <hr>
            {% if blogs|length > 0 %}  
            {% for blog in blogs %}
            {% include 'blog/partials/_blog.html' %}
            {% endfor %}
            {% else %}
            <div class="alert alert-info">No Blogs Found</div>
            {% endif %}
         
        </div>
    </div>
</div>



{% endblock %}