
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <title>{% block title %} {% endblock %} | Blogapp</title>
</head>
<body>
   {% include 'partials/_navbar.html' %}

    {% block content %}  {% endblock %}

<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>